.container {
    width: 320px;
    transition: .5s ease;

    &.hidden {
        width: 75px;
    }

    & h1 {
        white-space: nowrap;

        &.hidden {
            visibility: hidden;
        }
    }

    .expand-btn-wrapper {
        position: relative;
        display: grid;
        margin: 1em 0;

        .close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            right: -20px;
            top: 0;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            cursor: pointer;
            place-self: end;
        }

        .expand-btn {
            cursor: pointer;
            place-self: center;
        }
    }

    ul {
        li a {
            width: 100%;
            text-align: left;
            border-radius: 0;
            border-bottom: 1px solid #333;
            color: rgb(210, 210, 210);
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: white;
            }

            &.active {
                font-weight: bold;
                border-bottom: 2px solid white;
                color: white;
            }

            span {
                &.hidden {
                    visibility: hidden;
                }
            }
        }
    }
}